body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input:not([type=submit]):not([type=file]) {
  outline: none;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  -webkit-transition: border .5s, color .5s;
          transition: border .5s, color .5s;
}

input:not([type=submit]):not([type=file]):focus {
  border: 2px solid #29D829;
}

input:not([type=submit]):not([type=file]):invalid {
  border: 2px solid #FFD600;
}

/* ------------------------------------------ */

.container {
  width: 980px;
  margin: 0 auto;
}

/* ------------------------------------------ */

#site-name {
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #FF8622;
}
