extend layout

block scripts
	script(type='text/javascript', src='static/scripts_create.js')

block content
	.creationDiv
		select#type
			option#offer Selling
			option#request Buying
		label Class:
			input#class(type='text', list='classes')
		label Book Title:
			input#title(type='text')
		label Price:
			input#price(type='number')
			
	//- span.displayAreaLabel Your Offers
	.displayArea.personalDisplayArea