doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Handlee')
    link(rel='stylesheet', type='text/css', href='/static/style.css')
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    script(type='text/javascript', src='static/jquery-1.10.2.js')
    script(type='text/javascript', src='static/scripts_overall.js')
    block scripts

  body
    header
      .hiddenHeaderMenu
        .displayLink
        .logInArea
          form#logIn
            input#username(type='email', placeholder='Email')
            input#password(type='password', placeholder='Password')
            input#logIn(type='submit', value='Log In')
            input#signUp(type='submit', value='Sign Up')
            input#logOut(type='submit', value='Log Out')
      .siteName: a(href='/') WUBEx
      .navbar
        ul
          li: a#selling(href='sellingOffers') For Sale
          li: a#buying(href='buyingOffers') Requests
          li: a#create(href='create') Create New
          li: a#account(href='account') Your Acccount
        
    .container
      .mainContent
        block content
      .sidebar
        block sidebar

    footer
      p Maintained by Bryan Jensen '15
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46773184-1', 'wubex.herokuapp.com');
    ga('send', 'pageview');