doctype html
html
  head
    meta(charset='utf-8')
    title U.S.E. Wheaton
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase.js')
    script(type='text/javascript', src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    script(type='text/javascript', src='/js/jquery-1.10.2.js')
    script(type='text/javascript', src='/js/scripts_overall.js')
    block scripts

  body
    .container
      header
        .site-name: a(href='/') Used Stuff Exchange Wheaton
          
      .main-content
        |stuff goes here

      footer
        p Maintained by Bryan Jensen '15
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46773184-1', 'wubex.herokuapp.com');
    ga('send', 'pageview');