html {
  display: block;
  width: -webkit-calc(90%);
  width:    -moz-calc(90%);
  width:      -o-calc(90%);
  width:         calc(90%);
  margin: 0 auto;

  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div {
  position: relative;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  clear: both;
  height: 40px;
  margin: 20px 0;
}

footer {
  clear: both;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  outline: none;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  -webkit-transition: border .5s, color .5s;
          transition: border .5s, color .5s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid #29D829;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid {
  border: 2px solid #FFD600;
}

/* ------------------------------------------ */

.mainContent {
  min-height: 800px;
}

/* ------------------------------------------ */

.hiddenHeaderMenu {
  position: absolute;
  width: 300px;
  border-radius: 5px;
  z-index: 5;
  background-color: #FFFFFF;
  opacity: 0.90;
  right: 0;
  bottom: -20px;
}

.hiddenHeaderMenu .displayLink {
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.hiddenHeaderMenu .logInArea {
  width: 100%;
  display: none;
}

.hiddenHeaderMenu .logInArea input {
  width: 144px;
}

.hiddenHeaderMenu .logInArea input[type="submit"] {
  width: auto;
}

input[type="submit"]#logIn {
  float: left;
}

input[type="submit"]#signUp {
  float: right;
}

input[type="submit"]#logOut {
  float: right;
}

.siteName {
  float: left;
  width: 200px;
  text-align: center;
  height: 100%;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #FF8622;
}

.navbar {
  float: left;
  width: calc(100% - 200px);
}

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  width: calc(100% / 4 - 8px);
  min-width: 100px;
  text-align: center;
  margin: 0 4px;
}

.navbar li a {
  display: block;
  line-height: 40px;
  color: #FFFFFF;
}

.navbar li a#selling {
  background-color: #FF8622;
}

.navbar li a#buying {
  background-color: #FC6500;
}

.navbar li a#account {
  background-color: #FF5200;
}

.navbar li a#create {
  background-color: #FF2900;
}

/* ------------------------------------------ */

.websiteTitleDiv {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #FF6600;
}

/* ------------------------------------------ */

.creationDiv {
  clear: both;
  width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  border-bottom: 1px solid #EEEEEE;
  font-size: 20px;
}

.creationDiv select {
  font-size: 18px;
}

.creationDiv label input {
  font-size: 16px;
}

/* ------------------------------------------ */

.displayArea {
  clear: both;
  margin: 30px 0px;
}

.displayArea:before {
  display: block;
  font-size: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

.personalDisplayArea {
  display: none;
}

.personalDisplayArea:before {
  content: 'Yours';
  color: #FF8622;
}

.sellDisplayArea {
  display: none;
}

.sellDisplayArea:before {
  content: 'Offers';
  color: #FC6500;
}

.buyDisplayArea {
  display: none;
}

.buyDisplayArea:before {
  content: 'Requests';
  color: #FF5200;
}

.bookEntry {
  display: inline-block;
  width: calc(33% - 40px);
  min-width: 300px;
  height: 100px;
  padding: 20px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.bookEntry div {
  display: block;
}

.titleDiv {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  font-size: 30px;
  height: 30px;
}

.classDiv {
  margin-top: 35px;
  float: left;
  font-size: 30px;
}

.priceDiv {
  margin-top: 30px;
  float: right;
  font-size: 40px;
  color: #999999;
}

.addedDiv {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 13px;
  color: #BBBBBB;
}

.sellerDiv {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #BBBBBB;
}

/* ------------------------------------------ */
