html {
  display: block;
  width: -webkit-calc(90%);
  width:    -moz-calc(90%);
  width:      -o-calc(90%);
  width:         calc(90%);
  margin: 0 auto;

  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

a {
  text-decoration: none;
}

div {
  position: relative;
}

footer {
  clear: both;
}

/* ------------------------------------------ */

.mainContent {
  min-height: 500px;
}

/* ------------------------------------------ */

.siteName {
  display: inline-block;
  width: 200px;
}

.navbar {
  display: inline-block;
  width: calc(100% - 200px);
}

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  width: calc(100% / 4 - 8px);
  min-width: 100px;
  text-align: center;
  margin: 0 4px;
}

.navbar li a {
  display: block;
  line-height: 40px;
  color: #FFFFFF;
}

.navbar li a#selling {
  background-color: #FF7400;
}

.navbar li a#buying {
  background-color: #1240AB;
}

.navbar li a#account {
  background-color: #00CC00;
}

.navbar li a#create {
  background-color: #009999;
}

/* ------------------------------------------ */

.websiteTitleDiv {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #FF6600;
}

/* ------------------------------------------ */

.creationDiv {
  clear: both;
  width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  border-bottom: 1px solid #EEEEEE;
  font-size: 20px;
}

.creationDiv select {
  font-size: 18px;
}

.creationDiv label input {
  font-size: 16px;
}

/* ------------------------------------------ */

.sellDisplayArea {
  clear: both;
  margin: 30px 0px;
}

.buyDisplayArea {
  clear: both;
  margin: 30px 0px;
}

.bookEntry {
  display: inline-block;
  width: calc(33% - 40px);
  min-width: 300px;
  height: 100px;
  padding: 20px;
  border-right: 1px solid #EEEEEE;
}

.bookEntry div {
  display: block;
}

.titleDiv {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  font-size: 30px;
  height: 30px;
}

.classDiv {
  margin-top: 30px;
  float: left;
  font-size: 30px;
}

.priceDiv {
  margin-top: 30px;
  float: right;
  font-size: 40px;
  color: #999999;
}

.addedDiv {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 13px;
  color: #BBBBBB;
}

.sellerDiv {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #BBBBBB;
}

/* ------------------------------------------ */
